<div>
  <p>Nombre: {{user.first_name}} {{user.last_name}}</p>
  <script id="user-template" type="text/x-handlebars-template">
    <p>Nombre: {{user.first_name}} {{user.last_name}}</p>
  </script>
  {{#if user}}
  <div id="user-container"></div>
  {{else}}
  <a href="/login">Iniciar sesión</a>
  {{/if}}

  <h1>Lista de Productos</h1>
  <nav>
    <ul>
      <li><a href="#" data-category="">Todas</a></li>
      <li><a href="#" data-category="Smartphone">Smartphone</a></li>
      <li><a href="#" data-category="Tablet">Tablet</a></li>
      <li><a href="#" data-category="Laptop">Laptop</a></li>
    </ul>
  </nav>

  <form>
    <label for="limit">Mostrar:</label>
    <select id="limit" name="limit">
      <option value="3">3</option>
      <option value="6">6</option>
      <option value="9">9</option>
    </select>

    <label for="sort">Ordenar por:</label>
    <select id="sort" name="sort">
      <option value="price_asc">Precio ascendente</option>
      <option value="price_desc">Precio descendente</option>
    </select>
  </form>

  <div id="products-container"></div>

  {{#if pagination}}
  <div>
    {{#if pagination.hasPrevPage}}
    <a href="?page={{pagination.prevPage}}&category={{category}}">Anterior</a>
    {{/if}}

    {{#if pagination.hasNextPage}}
    <a href="?page={{pagination.nextPage}}&category={{category}}">Siguiente</a>
    {{/if}}
  </div>
  {{/if}}

  <script id="products-template" type="text/x-handlebars-template">
    {{#if products}}
    {{#each products}}
    <div>
      <h2>{{title}}</h2>
      <img src="{{thumbnail}}" alt="{{title}} Thumbnail">
      <p>{{description}}</p>
      <p>Precio: ${{price}}</p>
    </div>
    {{/each}}
    {{else}}
    <p>No se encontraron productos.</p>
    {{/if}}
  </script>

</div>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script type="module" src="js/products.js"></script>