<div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Thumbnail</th>
          <th scope="col">Code</th>
          <th scope="col">Stock</th>
          <th scope="col">Status</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
        <tr>
          <th scope="row">{{id}}</th>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td>{{price}}</td>
          <td><div class="sizeThumbnails text-break">{{thumbnail}}</div></td>
          <td>{{code}}</td>
          <td>{{stock}}</td>
          <td>{{status}}</td>
          <td>{{category}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>